* {
    font-family: 'Gothic A1', sans-serif;
}

body{
    background-color: #f5f5f5;
    max-width: 952px;
    margin: auto;
    width: 93%;
}

.main_nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    z-index: 10000;
}

.logo {
    display: block; 
    text-align: center;
    margin: 25px auto;
    width: 254px;
    height: 47px;
}

.navi {
    max-width: 952px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 

    margin: auto;
    padding: 0 5px;
    list-style-type: none;
}

.nav {
    display: inline block;
    width: 20%;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

.nav > a {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #808080;
}

.navi > li:hover a{
    font-weight: 600;
    color: #313131;

    border-bottom: 3px solid #313131;
    content: ""; }

main {
    width: auto;
}

/* 공통 */

/* home */

.h_1 {
    margin-top: 165px;
    font-size: 2rem;
    font-weight: 600;
    color: #6e6e73;
}

/* 첫번째 */

#ho_1 {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 20px;
    background-image: url(img/wndrl.png);
    background-color: #fff;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 8%);
    letter-spacing:-1.5px;
}

.ho_a {
    position:absolute; 
    list-style: none;

    color: #313131;
    top:50px; 
    transition:0.5s all;
}


.ho_a1 {
    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
}

.ho_a2 {
    display:block; 
    margin-top: 15px;
    font-size:25px; 
    color:#6e6e73; 
    font-weight: 500;
    line-height:35px;

    opacity:0; 
    transition:0.5s all;
}

#ho_1:hover {
    background-image:url(img/wndth2.png);
    background-size: 410px;}
#ho_1:hover .ho_a2 {opacity:1}
#ho_1:hover .ho_a {top:40px}

/* 두번째 */

#ho_2 {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 20px;
    background-image: url(img/rldjq.png);
    background-color: #fff;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 8%);
    letter-spacing:-1.5px;
}

.ho_b {
    position:absolute; 
    list-style: none;

    color: #313131;
    top:100px; 
    transition:0.5s all;
}


.ho_b1 {
    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
}

.ho_b2 {
    display:block; 
    margin-top: 15px;
    font-size:25px; 
    color:#6e6e73; 
    font-weight: 500;
    line-height:35px;

    opacity:0; 
    transition:0.5s all;
}

#ho_2:hover {
    background-image:url(img/rldjq2.png);
    background-size: 320px;}
#ho_2:hover .ho_b2 {opacity:1}
#ho_2:hover .ho_b {top:65px}

/* 세번째 */

#ho_3 {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 25px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 20px;
    background-image: url(img/지역.png);
    background-color: #fff;
    background-size: 415px;
    background-repeat: no-repeat;
    background-position: center 105px;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 8%);
    letter-spacing:-1.5px;
}

.ho_c {
    position:absolute; 
    list-style: none;
    color: #313131;
    top: 35px;
    transition:0.5s all;

    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
}

#ho_3:hover {
    background-image:url(img/지역별.png);
    background-size: 501px;
}

/* 네번째 */

#ho_4 {
    position: relative;
    width: 100%;
    height: 340px;
    margin: 25px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 20px;
    background-image: url(img/폐업1.png);
    background-color: #fff;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center 100px;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 8%);
    letter-spacing:-1.5px;
}

.ho_d {
    position:absolute; 
    list-style: none;

    color: #313131;
    top:35px; 

    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
    transition:0.5s all;
}

#ho_4:hover {
    background-image:url(img/폐업2.png);
    background-size: 500px;
}


.main_t {
    color: rgb(90, 90, 90);
    margin: 20px auto 20px auto;
    font-weight: 600;
    font-size: 26px;
}

.main_m {
    color: rgb(122, 122, 122);
    margin: 20px auto 20px auto;
    font-weight: 600;
    font-size: 18px;
}

.btn {
    color: gray;
    border-radius: 2rem;
    box-shadow: 0 0 0 1px gray;
    font-weight: 700;
    cursor: pointer;
    align-content: center;
    display: flex;
    text-decoration: none;
}

@media screen and (max-width: 639px) {

body {
    width: 92%;
}

.logo {
    margin: 15px auto;
    width: 200px;
    height: 37px;
}


.nav {
    width: 20%;
    line-height: 40px;
    letter-spacing:-0.5px;
}


.nav > a {
    font-size: 1rem;
}

main {
    width: auto;
}

.h_1 {
    margin-top: 130px;
    font-size: 1.45rem;
    letter-spacing:-1.1px;
}


.main_t {
    margin: 20px auto 20px auto;
    font-weight: 600;
    font-size: 22px;
}


}
